# 构建产物
*.apk
*.ap_
*.aab
*.dex
*.class
/build
*/build

# Gradle 缓存
.gradle/
build/

# 本地配置
local.properties

# IDE 缓存 (Android Studio / IntelliJ)
*.iml
.idea/


# 系统文件
.DS_Store
Thumbs.db

# 其它临时文件
/captures
.externalNativeBuild
.cxx